/* 펫시터가 찾고자 하는 돌봄글 */
#petsitter {
  /* background-color: rgb(251, 247, 248); */
  background: url(http://fiximage.10x10.co.kr/web2018/main/bg_pattern_slash.png) 0 0 repeat;
}
#petsitter .super-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
}
#petsitter .super-head h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}
#petsitter .super-head .sub-text {
  color: #959595;
  font-size: 0.8rem;
}
/* 1) 로그인한 사람의 프로필 */
#person .img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#person .img-wrap img {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 50%;
}
#person .img-wrap .bi-person-circle {
  margin-bottom: 1rem;
  font-size: 13rem;
  color: #959595;
  line-height: 13rem;
}
#person .img-wrap .name {
  font-size: 1.3rem;
  font-weight: 600;
}

/* 2) 나의 돌봄 조건 */
#petsitter form {
  width: 100%;
  padding: 0 3rem 1rem 3rem;
}
#petsitter input[type='submit'], #petsitter .filter-cancel {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  /* background-color: #EB7D80;
  color: white; */
  background-color: white;
  border: 2px solid rgb(208, 172, 191);
  color: rgb(208, 172, 191);
  /* box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgba(208, 172, 191, 0.329); */
}
/* 공통 적용 부분 */
.section {
  padding: 0.5rem 0rem;
  border-bottom: 1px solid #D9D9D9;
}
.section .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .head h5 {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}
.section .head .text {
  color: #cccbcb;
  font-size: 0.8rem;
}
.section .body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* 나의 성별, 돌봄 가능 동물, 돌봄 가능 시간, 기타 */
.petsitter_gender input[type='radio'], .caring-pet input[type='radio'], .caring-time input[type='radio'], .etc input[type='checkbox'] {
  display: none;
}
.petsitter_gender label, .caring-pet label, .caring-time label, .etc label {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.3rem 0;
  width: 10rem;
  color: #595858;
  text-align: center;
  cursor: pointer;
  border-radius: 2rem;
}
.petsitter_gender label.active, .caring-pet label.active, .caring-time label.active, .etc label.active {
  background-color: rgb(208, 172, 191);
  color: white;
  /* border: 2px solid rgb(208, 172, 191);
  color: rgb(208, 172, 191); */
  font-weight: 700;
}
/* 돌봄 활동 가능 지역 */
.possible-area {
  border-bottom: none;
  margin-bottom: 1rem;
}
#area {
  display: grid;
  padding: 5px 30px 5px 10px;
  width: 250px;
  height: 35px;
  /* appearance: none; */
  outline: none;
  border: 1px solid rgb(208, 172, 191);
  border-radius: 4px;
  color: #6c757d;
}
#area option {
  color: #6c757d;
  padding: 3px 0;
}
#area option:hover {
  background-color: rgb(208, 172, 191);
  color: white;
}


/* card-container */
:root {
  /* Color */
  --main-color: #eb7d80;
  --dark-color: #000;
}

/* Global */
p {
  margin: 0;
}

button {
  border: 0;
  background: none;
}


/* Card-wrap */
.main-cards {
  margin: 3rem auto;
}

.card-wrap {
  margin-bottom: 3rem;
  padding: 0 30px;
  width: 100%;
  text-align: center;
}

.card-wrap.around {
  background-color: #fff8f5;
}

.card-top h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card-top a:hover {
  color: #595858;
}

/* Card-item */
.card__item {
  margin: 0.5rem auto;
  position: relative;
  width: 90%;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem rgb(0 0 0 / 8%);
  border-radius: 20px;
}

.card__item:hover {
  color: black;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem rgba(0, 0, 0, 0.123);
}

.card__item-back {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
}

.back-top-wrap {
  display: none;
}

.card__item:hover .back-top-wrap {
  display: block;
}

.back-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 20px;
  opacity: .5;
  transition-duration: 1s;
}

.back-user {
  display: flex;
  align-items: center;
  margin: 40px 0 18px 20px;
}

.back-user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 8px;
}

.back-content-date {
  text-align: start;
  margin-left: 24px;
}

.back-content-text {
  margin-top: 30px;
}

.back-content-like {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Card-item-top */
.card__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__item__user {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.card__item__user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.card__item__user .bi-person-circle {
  font-size: 35px;
  margin-right: 8px;
  line-height: 35px;
  color: #eb7d80;
}

.card__item__avg {
  display: flex;
  align-items: center;
}

.card__item__avg i {
  margin-right: 8px;
}

.card__item-top .badges {
  display: flex;
}

.card__item-top .badge {
  color: white;
  background-color: rgb(246, 169, 168);
  border-radius: 1rem;
}

.card__item-top .badge.review-badge {
  margin-right: 0.5rem;
  background-color: #ffd700;
}

.card__item-top .badge.species-badge {
  margin-right: 1rem;
}


/* Card-item-image */
.card__item__image {
  width: 100%;
  height: 200px;
  border-top: 1px solid #d9d9d923;
  border-bottom: 1px solid #d9d9d923;
}

.card__item__image img {
  width: 100%;
  height: 100%;
}


/* Card-item-bottom */
.card__item-bottom {
  text-align: center;
  padding: 1rem;
}

.card__item__title {
  font-size: 18px;
  font-weight: bold;
}

.card__item__title:hover {
  color: #EB7D80;
}

.apply-buttons .button {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 2rem;
  color: white;
  text-align: center;
}

.apply-buttons .button.apply-btn {
  background-color: #EB7D80;
}

.apply-buttons .button.end-btn {
  background-color: #D0ACBF;
}


/* Around 내주변친구 */
.around {
  background-color: var(--main-color);
}


/* Side-nav */
.side__nav {
  width: 300px;
  height: 100%;
  text-align: center;
  padding: 0 18px;
  /* border-left: 1px solid var(--dark-color); */
  background-color: #fff;
}

.side__nav__btn {
  background-color: var(--main-color);
  width: 100px;
  padding: 8px 0;
  border-radius: 10px;
  margin: 12px;
}

/* Media */
@media screen and (max-width: 1300px) {
  .side__nav {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .card__item {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .card__item {
    width: 90%;
  }
}

/* 글작성 버튼 */
.writing-btn-round {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  background-color: #EB7D80;
  color: white;
  font-size: 1.3rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem #95959525;
}
.writing-btn-round.active {
  display: inline-block;
}
.writing-btn-round:hover {
  background-color: #f07478;
  color: white;
}