{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
  <div>
    {{ community.title }}
  </div>
  <div>
    {{ community.content}}
  </div>
  <div>
    {{ community.community }}
  </div>
  <div>
    {{ community.created_at }}
    {{ community.updated_at }}
  </div>
  {{ community.image }}

  <!-- tag -->
  {% if community.tags.all %}
  {% for tag in community.tags.all %}
  <h4><a style="text-decoration: none" href="{% url 'communities:tagged_object_list' tag.name %}">
      <span class="badge rounded-pill bg-primary">
        #{{ tag.name }}
      </span>
    </a>
  </h4>
  {% endfor %}
  <a style="text-decoration: none" href="{% url 'communities:tag_cloud' %}">태그 모아보기<i class="bi bi-tag"></i></a>
  {% endif %}
</div>

<!-- 수정/삭제 버튼 -->
<div class="text-end me-5">
  <a class="btn btn-outline-dark" href="{% url 'communities:update' community.pk %}">
    수정
  </a>
  <a class="btn btn-outline-dark" href="{% url 'communities:delete' community.pk %}">
    삭제
  </a>
</div>

<!-- 좋아요 -->
<div>
  {% if request.user.is_authenticated %}
  {% if request.user in community.like_users.all %}
  <i id="" data-community-id="{{ community.pk }}" class="bi bi-heart-fill like-btn"></i>
  {% else %}
  <i id="" data-community-id="{{ community.pk }}" class="bi bi-heart like-btn"></i>
  {% endif %}
  {% endif %}
  <span id="like-count">{{ community.like_users.count }}</span>
</div>

<!-- 리뷰 작성-->
<div>
  <h4>리뷰 작성</h4>
  {% if request.user.is_authenticated %}
  <form action="{% url 'communities:comment_create' community.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <br>
    <input type="submit" value="작성">
  </form>
  {% endif %}
</div>

{% for comment in comments %}
{% comment %} <div>
  {% if comment.user.profile.image %}
  <a href="{% url 'accounts:profile' comment.user.username %}"><img src="#" class="rounded-circle" alt=""
      style="height: 40px; width:40px;"></a>
  {% else %}
  <a href="{% url 'accounts:profile' comment.user.username %}" class="rounded-circle" alt=""
    style="height: 40px; width:40px;"></a>
  {% endif %}
  <span>{{comment.user}}</span>
</div> {% endcomment %}
<div>{{ comment.created_at|date:"o-m-d" }}
  {{ comment.created_at|time:"H:i" }}</div>
<div>
  {{ comment.content }}
</div>
{% if request.user == comment.user %}
<form action="{% url " communities:comment_delete" community.pk comment.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
{% endif %}
<hr>
{% empty %}
<p>댓글이 없습니다.</p>
{% endfor %}
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const likeBtn = document.querySelector('.like-btn')
  likeBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({ method: 'get', url: `/communities/${event.target.dataset.communityId}/like/` }).then(response => {
      console.log(response)
      console.log(response.data)
      console.log(response.data.is_liked)
      if (response.data.is_liked === true) {
        event
          .target
          .classList
          .add('bi-heart-fill')
        event
          .target
          .classList
          .remove('bi-heart')
      } else {
        event
          .target
          .classList
          .add('bi-heart')
        event
          .target
          .classList
          .remove('bi-heart-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>
{% endblock content %}