{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/communities_index.css' %}">
{% endblock css %}

{% block content %}
<main class='container'>
  {% comment %} 검색 {% endcomment %}
  <form action="{% url 'communities:search' %}" method="post" class='search_form'>
    {% csrf_token %}
    <div class='input-wrap'>
      {{ search_form.search_word|append_attr:'placeholder:검색하세요.' }}
      <input type="submit" value="검색">
    </div>
  </form>
  {% comment %} 카테고리 탭 {% endcomment %}
  <ul class='board-tab'>
    <input type="hidden" id='current-board' value='{{ name }}'>
    {% for board in community_list %}
    <li>
      <a href="?board={{ board }}" class='board {{ board }}'>{{ board }}</a>
    </li>
    {% endfor %}
  </ul>
  {% comment %} 인기글 {% endcomment %}
  <section id='popular-articles'>
    <h4 class='head'>인기글<span class="small">(좋아요순)</span></h4>
    <div>
      {% for article in articles_ordered_by_like %}
        {{ article.title }}
        {{ article.like_users.count }}
      {% endfor %}
    </div>
  </section>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="?pet=강아지">강아지</a></li>
      <li><a class="dropdown-item" href="?pet=고양이">고양이</a></li>
    </ul>
  </div>

  {% comment %} <ul class='board-tab'>
    <input type="hidden" id='current-board' value='{{ pet_name }}'>
    {% for pet in pet_list %}
    <li>
      <a href="?pet={{ pet }}" class='pet {{ pet }}'>{{ pet }}</a>
    </li>
    {% endfor %}
  </ul> {% endcomment %}



  <a href="{% url 'communities:create' %}">글쓰기</a>
  

  <div>
    {% for community in page_obj %}
      <div class="row card">
        {% if community.image %}
          <img src="{{ community.image.url }}" alt="" style="width: 100px; height: 100px;">
        {% endif %}
        <h3>
          <a class="text-decoration-none" href="{% url "communities:detail" community.pk %}">{{ community.title }}</a>
        </h3>
      </div>
    </div>
    {% endfor %}

  <div class="d-flex justify-content-center mt-4">
    <div class="pagination">
      <span class="stap-links">
        <ul class="pagination justify-content-center">
          <!-- 이전페이지 -->
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link text-praimary" href="?board={{name}}{{ page_obj.previous_page_number }}">이전</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
            {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
              {% if page_number == page_obj.number %}
                <li class="page-item active" aria-current='page'>
                  <a class="page-link text-bg-praimary border-praimary" href="?board={{name}}{{ page_number }}">{{ page_number }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link text-praimary" href="?board={{name}}{{ page_number }}">{{ page_number }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link text-bg-praimary border-praimary" href="?board={{name}}{{ page_obj.next_page_number }}">다음</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
          </li>
          {% endif %}
        </ul>
      </span>
    </div>
  </div>
</div>
</main>


<!-- <script>
  const like = {{ community.like_users.count }};
  like.sort();
  like.sort(function(a, b){
	return b-a; // (내림차순)
  });
  like.sort((a,b) => b-a);
</script> -->
{% endblock content %}

{% block js %}
<script src="{% static 'js/communities_index.js' %}"></script>
{% endblock js %}