{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block css %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="{% static 'css/communities_index.css' %}">
{% endblock css %}

{% block content %}
<main class='container'>
  {% comment %} 검색 {% endcomment %}
  <form action="{% url 'communities:search' %}" method="post" class='search_form'>
    {% csrf_token %}
    <div class='input-wrap'>
      {{ search_form.search_word|append_attr:'placeholder:검색하세요.' }}
      <button type="submit"><i class="bi bi-search-heart"></i></button>
    </div>
  </form>

  {% comment %} 카테고리 탭 {% endcomment %}
  <ul class='board-tab'>
    <input type="hidden" id='current-board' value='{{ name }}'>
    {% for board in community_list %}
    <li>
      <a href="?board={{ board }}" class='board {{ board }}'>{{ board }}</a>
    </li>
    {% endfor %}
  </ul>

  {% comment %} 인기글 {% endcomment %}
  <section id='popular-articles'>
    <h4 class='head'>인기글<span class="small">(좋아요순)</span></h4>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for article in articles_ordered_by_like %}
        <div class="swiper-slide">
          <article>
            <p class='badge'>인기</p>
            <p class='title'>
              <a href="{% url 'communities:detail' article.pk %}">
                {{ article.title|truncatechars:15 }}
              </a>
            </p>
            <p class='content'>{{ article.content|truncatechars:17 }}</p>
            <div class='foot'>
              <span>{{ article.updated_at|date:"Y.m.d" }}</span>
              <div class='like-comment'>
                <span>
                  <i class="bi bi-hand-thumbs-up"></i>
                  {{ article.like_users.count }}
                </span>
                <span>
                  <i class="bi bi-chat-square"></i>
                  {{ article.comment_set.count }}
                </span>
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </section>

  {% comment %} 전체 게시글 {% endcomment %}
  <section id='total-articles'>
    <h4 class='head'>전체 게시글</h4>
    <div class='row'>
      <div class='col col-9'>
        {% for article in page_obj %}
        <article>
          <div class='article-inner'>
            <p class="title">
              <a href="{% url "communities:detail" article.pk %}">{{ article.title|truncatechars:30 }}</a>
            </p>
            <p class='content'>{{ article.content|truncatechars:200 }}</p>
            <div class='foot'>
              <span>{{ article.updated_at|date:"Y.m.d" }}</span>
              <div class='like-comment'>
                <span>
                  <i class="bi bi-hand-thumbs-up"></i>
                  {{ article.like_users.count }}
                </span>
                <span>
                  <i class="bi bi-chat-square"></i>
                  {{ article.comment_set.count }}
                </span>
              </div>
            </div>
          </div>
          {% if article.image %}
          <div class='article-image'>
            <img src="{{ article.image.url }}" alt="" style="width: 100px; height: 100px;">
          </div>
          {% endif %}
        </article>
        {% endfor %}
        {% comment %} 페이지네이션 {% endcomment %}
        <div class="d-flex justify-content-center mt-4">
          <div class="pagination">
            <span class="stap-links">
              <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?board={{name}}&page={{ page_obj.previous_page_number }}">이전</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                  </li>
                {% endif %}
      
                {% for page_number in page_obj.paginator.page_range %}
                  {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
                    {% if page_number == page_obj.number %}
                      <li class="page-item active" aria-current='page'>
                        <a class="page-link" href="?board={{name}}&page={{ page_number }}">{{ page_number }}</a>
                      </li>
                    {% else %}
                      <li class="page-item">
                        <a class="page-link" href="?board={{name}}&page={{ page_number }}">{{ page_number }}</a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
      
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?board={{name}}&page={{ page_obj.next_page_number }}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class='col col-3'>
        <a class='writing-btn' href="{% url 'communities:create' %}">글작성</a>
      </div>
    </div>
  </section>
</main>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'js/communities_index.js' %}"></script>
{% endblock js %}