{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/communities_search.css' %}">
{% endblock css %}

{% block content %}
  <main class='container'>
    <h3 class='head'>
      '<span class='search-term'>{{ search_term }}</span>'에 대한 검색 결과
    </h3>

    {% if object_list %}
      {% for community in object_list %}
        <h5>
          <a href='{% url "communities:detail" community.pk %}'>{{ community.title }}</a>
        </h5>
        {{ community.modify_date|date:"N d, Y" }}
        <p>{{ community.content }}</p>
      {% endfor %}
    {% elif search_term %}
      <!-- 검색란이 공란인지 확인-->
      <b>
        <i>Search Word({{ search_term }}) Not Found</i>
      </b>
    {% endif %}
  </main>
{% endblock %}