@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

/* 쪽지 */
section#super-wrap {
  margin: 3rem auto;
  padding: 3rem;
  background-image: url('/static/img/paper2.jpg');
  background-size: 100%;
  box-shadow: 0.3rem 0.3rem 1rem 1rem rgba(208, 208, 208, 0.555);
}
section#super-wrap * {
  font-family: 'Playball', 'Gaegu', 'Yeon Sung',  cursive;
}
section#super-wrap .to-user {
  font-size: 1.5rem;
  font-weight: 900;
}
section#super-wrap .to-user .large {
  font-size: 2rem;
}
section#super-wrap .from-user {
  font-size: 1rem;
  font-weight: 900;
  text-align: end;
}
section#super-wrap .from-user .large {
  font-size: 1.5rem;
}
section#super-wrap #id_title, section#super-wrap #id_content {
  border: none;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
}

/* 전송버튼 */
section#send-btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
section#send-btn-wrap .send-btn {
  padding: 0.3rem 0.8rem;
  background-color: #EB7D80;
  border: none;
  border-radius: 0.5rem;
  color: white;
}