/* 검색 */
.search_form {
  display: flex;
  justify-content: end;
  margin: 2rem 0;
}
.search_form .input-wrap {
  display: inline-block;
  position: relative;
}
.search_form .input-wrap #id_search_word {
  padding: 0.3rem 0.5rem;
  border: 2px solid #F6A9A8;
  border-radius: 1.5rem;
}
.search_form .input-wrap #id_search_word:focus {
  outline: none;
}
.search_form .input-wrap button[type='submit'] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  background-color: #F6A9A8;
  border: none;
  border-radius: 0 1.5rem 1.5rem 0;
  color: white;
  font-size: 1.2rem;
}

/* 카테고리 탭 */
.board-tab {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
.board-tab li {
  display: inline-block;
  width: 25%;
  border: 1px solid #F6A9A8;
  border-right: none;
  text-align: center;
}
.board-tab li:last-of-type {
  border-right: 1px solid #F6A9A8;
}
.board-tab li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  width: 100%;
  font-weight: 600;
}
.board-tab li a:hover, .board-tab li a.active {
  background-color: #F6A9A8;
  color: white;
}

/* 인기글 */
#popular-articles {
  margin-bottom: 3rem;
}
#popular-articles .head {
  font-weight: 600;
}
#popular-articles .head .small {
  font-size: 0.5rem;
  color: #5A5959;
}
#popular-articles .swiper {
  width: 100%;
  height: 100%;
}
#popular-articles .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#popular-articles article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 1rem;
  box-shadow: 0.05rem 0.05rem 0.2rem 0.2rem rgb(0 0 0 / 8%);
}
#popular-articles article .badge {
  margin-bottom: 0.5rem;
  width: 3rem;
  background-color: #F6A9A8;
  border-radius: 1rem;
}
#popular-articles article .title {
  margin-bottom: 0.1rem;
  font-weight: bold;
}
#popular-articles article .title a:hover {
  color: #F6A9A8;
}
#popular-articles article .content {
  font-size: 0.9rem;
  color: #5A5959;
  text-align: left;
}
#popular-articles article .foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  font-size: 0.6rem;
  color: #5A5959;
}
#popular-articles article .foot .like-comment .bi-hand-thumbs-up,
#popular-articles article .foot .like-comment .bi-chat-square {
  font-size: 0.9rem;
}
#popular-articles article .foot .like-comment span:nth-of-type(1) {
  margin-right: 0.5rem;
}