{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/calendarapp/calendar.css' %}">
{% endblock css %}

{% block content %}
  안녕
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <a class="btn btn-dark right mr-2" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}">
          ⬅︎ 지난 달
        </a>
      </div>
      <div>
        <a href="{% url 'calendarapp:create_daily_event' %}" class="btn btn-success">일기 작성하기
        </a>
        <a href="{% url 'calendarapp:create_dogwalking' %}" class="btn btn-success">산책일기 작성하기</a>
        <a href="{% url 'calendarapp:create_health_event' %}" class="btn btn-success">건강일기 작성하기</a>
      </div>
      <div>
        <a class="btn btn-dark right mr-2" href="{% url 'calendarapp:calendar' %}?{{ next_month }} ">
          다음 달 ➡︎
        </a>
      </div>
    </div>
  </div>
  <div>
    {{ calendar }}
  </div>
</div>
{% endblock %}
