{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/calendarapp/daily.css' %}">
{% endblock css %}

{% block content %}
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <div class='domain'>
        <h5>
          <span class='important'>*</span>일기를 작성할 반려동물</h5>
        <select name="pet" id="pet" required="required">
          <option value="">
            -------- 반려동물 선택 --------
          </option>
          {% for user_pet in request.user.pet.all %}
            <option value="{{ user_pet.pk }}">
              {% if user_pet.species == 'dog' %}
                강아지
              {% else %}
                고양이
              {% endif %}
              -
              {{ user_pet.petname }}</option>
          {% endfor %}
        </select>
      </div>
      <table class="form form-table">
        {% bootstrap_form form %}
      </tr>
    </table>
    <div class="mb-3">
      <button type="submit" class="btn btn-dark right">
        작성
      </button>
      <a class="btn btn-dark left" href="{% url 'calendarapp:calendar' %}">
        돌아가기
      </a>
    </div>
  </form>
</div>
{% endblock %}
