{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="{% static 'css/accounts/detail.css' %}">
{% endblock css %}

{% block content %}
<main class="container">
  <div class='section-wrap row g-5'>

    {% comment %} 집사에 대한 정보 {% endcomment %}
    <section class='col col-12 col-md-3' id='person' style="{% if request.user != user %} max-height: 44rem; {% endif %}">
      <!-- 프로필 이미지 -->
      <div class='img-wrap'>
        {% if user.profile_image %}
          <img class='writer-img' src="{{ user.profile_image.url }}" alt="">
        {% else %}
          <i class="bi bi-person-circle"></i>
        {% endif %}
        <p class='name'>
          {% if user.nickname %}
          {{ user.nickname }}
          {% else %}
          {{ user.username }}
          {% endif %}
        </p>
        {% if request.user != user %}
        <a href="{% url 'notes:send' user.pk %}" class='send-note' data-bs-toggle="tooltip-note" data-bs-placement="bottom" data-bs-title="쪽지를 보내 
          '{% if user.nickname %}
          {{ user.nickname }}
          {% else %}
          {{ user.username }}
          {% endif %}'
        님과 이야기를 나눠보세요"><i class="bi bi-send"></i> 쪽지 보내기</a>
        {% endif %}
      </div>

      <!-- 팔로워 박스 누르면 팔로워 목록 모달로 이동 -->
      <div class='follow-wrap'>
        <div class="follower" data-bs-toggle="modal" data-bs-target="#exampleModal">팔로워
          <b id="followers-count">{{ user.followers.all|length }}</b>
        </div>
        <div class="following" data-bs-toggle="modal" data-bs-target="#exampleModal2">팔로잉
          <b id="followings-count">{{ user.followings.all|length }}</b>
        </div>
      </div>

      <!-- 프로필 편집 / 팔로우 / 차단 -->
      {% if request.user == user %}
        <div class='update-block-wrap'>
          <a class="update-link" href="{% url 'accounts:update' user.pk %}">회원정보 수정</a>
          <a class="block-list" data-bs-toggle="modal" data-bs-target="#exampleModal3">차단 회원 목록</a>
        </div>
      {% else %}
      <div class='follow-block-form-wrap'>
        <form id="follow-form" action='' data-user-id='{{ user.pk }}'>
          {% csrf_token %}
          {% if request.user in user.followers.all %}
            <input type="submit" value="언팔로우">
          {% else %}
            <input type="submit" value="팔로우">
          {% endif %}
        </form>
        <form id="block-form" action="{% url 'accounts:block' user.pk %}">
          {% csrf_token %}
          {% if request.user in user.blockers.all %}
            <input type="submit" value="차단 해제">
          {% else %}
            <input type="submit" value="차단">
          {% endif %}
        </form>
      </div>
      {% endif %}

      <!-- 쪽지함 / 내가 쓴 글 + 댓글 -->
      <div class='notes-article-wrap'>
        <div class='notes'>
          <div>
            <i class="bi bi-send"></i>
            보낸 쪽지 
            <span class='strong'>{{ user.user_from.count }}</span>
          </div>
          <div>
            <i class="bi bi-send"></i>
            받은 쪽지 
            <span class='strong'>{{ user.user_to.count }}</span>
          </div>
          {% if request.user.pk == user.pk %}
          <a href="{% url 'notes:index' %}" class='go-to-notes'>내 쪽지함</a>
          {% endif %}
        </div>
        <div class='articles'>
          <div>
            <i class="bi bi-pencil"></i>
            커뮤니티 글
            <span class='strong'>{{ user.community_set.count }}</span>
          </div>
          <div>
            <i class="bi bi-pencil"></i>
            산책메이트 글
            <span class='strong'>{{ user.dogwalking_set.count }}</span>
          </div>
          <div>
            <i class="bi bi-pencil"></i>
            돌봄 글
            <span class='strong'>{{ user.care.count }}</span>
          </div>
          {% if request.user.pk == user.pk %}
          <a href="#my-articles" class='go-to-my-article'>내가 쓴 글</a>
          {% endif %}
        </div>
      </div>
    </section>

    {% comment %} 반려동물에 대한 정보 / 일지 달력 / 내가 쓴 글 {% endcomment %}
    <section class='col col-12 col-md-9' id='pets'>  
      <!-- 반려동물 목록 -->
      <div class='pet-register'>
        <div class='register-btn-wrap'>
          <h3>반려동물</h3>
          <a class="register-btn" href="{% url 'accounts:pet_register' user.pk %}">반려동물 등록</a>
          {% if user_pets.count >= 3 %}
          <span class='text'>좌우로 스크롤해주세요</span>
          {% endif %}
        </div>
        {% if user_pets %}
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            {% for user_pet in user_pets %}
            <div class="swiper-slide">
              <article class='pet' data-pet-name='{{ user_pet.petname }}'>
                <div class='domain img-name'>
                  {% if user_pet.pet_image %}
                  <img class='profile' src="{{ user_pet.pet_image.url }}" alt="">
                  {% else %}
                  <img class='profile' src="{% static 'img/dog_and_cat.png' %}" alt="">
                  {% endif %}
                  <a class='name' href="{% url 'accounts:pet_detail' user.pk user_pet.pk %}">
                    {{ user_pet.petname }}
                  </a>
                </div>
                <div class='domain species'>
                  {% if user_pet.species == 'dog' %}
                  <img class='pet-icon' src="{% static 'img/dog.png' %}" alt="">
                  {% else %}
                  <img class='pet-icon' src="{% static 'img/cat.png' %}" alt="">
                  {% endif %}
                  <span>
                    {% if user_pet.species == 'dog' %}
                    강아지
                    {% else %}
                    고양이
                    {% endif %}
                  </span>
                </div>
                <div class='domain age-gender'>
                  <span class='age'>{{ user_pet.petage }}세 |</span>
                  {% if user_pet.petgender == 'M' %}
                  <img class='gender-icon' src="{% static 'img/male.png' %}" alt="">
                  {% else %}
                  <img class='gender-icon' src="{% static 'img/female.png' %}" alt="">
                  {% endif %}
                  <span>{{ user_pet.petgender }}</span>
                </div>
                <div class='domain neutralization'>
                  {% if user_pet.neutralization == 'Y' %}
                  <span>중성화 O</span>
                  {% else %}
                  <span>중성화 X</span>
                  {% endif %}
                </div>         
                {% comment %} <a class='update-btn' {% if user == request.user %} href="{% url 'accounts:pet_update' user.pk user_pet.pk %}" {% endif %}>정보 수정</a> {% endcomment %}
              </article>
            </div>
            {% endfor %}
            {% comment %} 등록된 반려동물 수 == 1마리인 경우 {% endcomment %}
            {% if user_pets.count == 1 %}
            <div class="swiper-slide">
              <article class='add-pet-block'>
                <a {% if user == request.user %} href="{% url 'accounts:pet_register' user.pk %}" {% endif %}>
                  <p class='plus'>+</p>
                  <p class='text'>반려동물 등록</p>
                </a>
              </article>
            </div>
            <div class="swiper-slide">
              <article class='add-pet-block'>
                <a {% if user == request.user %} href="{% url 'accounts:pet_register' user.pk %}" {% endif %}>
                  <p class='plus'>+</p>
                  <p class='text'>반려동물 등록</p>
                </a>
              </article>
            </div>
            {% comment %} 등록된 반려동물 수 > 1마리인 경우 {% endcomment %}
            {% else %}
            <div class="swiper-slide">
              <article class='add-pet-block'>
                <a {% if user == request.user %} href="{% url 'accounts:pet_register' user.pk %}" {% endif %}>
                  <p class='plus'>+</p>
                  <p class='text'>반려동물 등록</p>
                </a>
              </article>
            </div>
            {% endif %}
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
        {% else %}
        <div class='no-registered-pets'>
          <img src="{% static 'img/profile_dogcat.png' %}" alt="">
          <p>등록된 반려동물이 없습니다</p>
          <p>나의 첫 반려동물을 등록해보세요</p>
          <a {% if user == request.user %} href="{% url 'accounts:pet_register' user.pk %}" {% endif %}>
            <p class='plus'>+</p>
            <p class='text'>반려동물 등록</p>
          </a>
        </div>
        {% endif %}
      </div>

      <!-- 등록한 반려동물이 있으면 일기 작성 가능 - 코드 수정 -->
      <div class='pet-journal'>
        {% if user_pets %}
        <div class='head'>
          <h3>'<span class='active-pet-name'></span>'의 일기</h3>
          <span class='text'>일기를 작성하고자 하는 반려동물을 선택해주세요</span>
        </div>
        {% if request.user == user %}
        <div class='pet-journal-button d-flex justify-content-around'>
          <!-- 일기 작성 버튼 -->
          <a href="{% url 'journal:journal_list' %}" class="btn-journal">일기 목록</a>
          <a href="{% url 'journal:daily_create' %}" class="btn-journal">일기 작성하기</a>
          <a href="{% url 'journal:dwj_create' %}" class="btn-journal">산책일기 작성하기</a>
          <a href="{% url 'journal:health_create' %}" class="btn-journal">건강일기 작성하기</a>
        </div>
        {% endif %}
        {% else %}
        <div class='no-registered-pets'>
          <h3>일기</h3>
          <p class='text'>반려동물을 등록하면 일기를 작성할 수 있습니다</p>
        </div>
        {% endif %}
      </div>

      <!-- 지도 -->
      {% if request.user == user %}
      <div class='my-friends'>
        <h3>내 주변 친구들</h3>
        <a href="{% url 'information:friends' %}" class="btn btn-primary">내 주변 친구 찾기</a>
        {% comment %} 프로필 user의 이미지 {% endcomment %}
        <input type="hidden" id='profile-img' value='{% if user.profile_image %} {{ user.profile_image.url }} {% endif %}'>
        {% comment %} 모든 Pet 데이터 (pet 이름, user의 주소, species) {% endcomment %}
        {% for pet in all_pet %}
        <input type="hidden" class='all-pet-info' value='{{ pet.petname }}--{{ pet.user.address }}--{{ pet.species }}'>
        {% endfor %}
        <div id="map" style="width:550px;height:350px;"></div>
      </div>
      {% endif %}

      <!-- 내가 쓴 글 -->
      <div id='my-articles'>
        <h3>내가 쓴 글</h3>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">커뮤니티 글 
              <span class='strong'>{{ user.community_set.count }}</span>
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">산책메이트 글 
              <span class='strong'>{{ user.dogwalking_set.count }}</span>
            </button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">돌봄 글
              <span class='strong'>{{ user.care.count }}</span>
            </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <!-- 커뮤니티 글 -->
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            {% for article in user.community_set.all %}
            <article>
              <span class='community'>{{ article.community }}</span>
              <p class="title">
                <a href="{% url "communities:detail" article.pk %}">{{ article.title|truncatechars:30 }}</a>
              </p>
              <p class='content'>{{ article.content|truncatechars:200 }}</p>
              <div class='foot'>
                <span>{{ article.updated_at|date:"Y.m.d" }}</span>
                <div class='like-comment'>
                  <span>
                    <i class="bi bi-hand-thumbs-up"></i>
                    {{ article.like_users.count }}
                  </span>
                  <span>
                    <i class="bi bi-chat-square"></i>
                    {{ article.comment_set.count }}
                  </span>
                </div>
              </div>
            </article>
            {% empty %}
            <p class='no-article'>작성된 글이 없습니다.</p>
            {% endfor %}
          </div>
          <!-- 산책메이트 글 -->
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            {% for article in user.dogwalking_set.all %}
            <article>
              <p class="title">
                <a href="{% url "dogwalking:detail" article.pk %}">{{ article.title|truncatechars:30 }}</a>
              </p>
              <p class='content'>{{ article.content|truncatechars:200 }}</p>
              <div class='foot'>
                <span>{{ article.updated_at|date:"Y.m.d" }}</span>
                <div class='like-comment'>
                  <span>
                    <i class="bi bi-hand-thumbs-up"></i>
                    {{ article.like_user.count }}
                  </span>
                  <span>
                    <i class="bi bi-chat-square"></i>
                    {{ article.comment_set.count }}
                  </span>
                </div>
              </div>
            </article>
            {% empty %}
            <p class='no-article'>작성된 글이 없습니다.</p>
            {% endfor %}
          </div>
          <!-- 돌봄 글 -->
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            {% for article in user.care.all %}
            <article>
              <p class="title">
                <a href="{% url "care:detail" article.pk %}">{{ article.title|truncatechars:30 }}</a>
              </p>
              <p class='content'>{{ article.content|truncatechars:200 }}</p>
              <div class='foot'>
                <span>{{ article.updated_at|date:"Y.m.d" }}</span>
                <div class='like-comment'>
                  <span>
                    <i class="bi bi-hand-thumbs-up"></i>
                    {{ article.like_user.count }}
                  </span>
                  <span>
                    <i class="bi bi-chat-square"></i>
                    {{ article.comment_set.count }}
                  </span>
                </div>
              </div>
            </article>
            {% empty %}
            <p class='no-article'>작성된 글이 없습니다.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<!-- 모달 -->
<!-- 팔로워 리스트 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">팔로워</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for follower in user_followers %}
          <a class='follow' href="{% url 'accounts:detail' follower.pk %}">
            {% if follower.profile_image %}
              <img src="{{ follower.profile_image.url }}" alt="">
            {% else %}
              <i class="bi bi-person-circle"></i>
            {% endif %}
            <p class='name'>{{ follower.username }}</p>
          </a>
        {% empty %}
          <p>아직 팔로워가 없어요</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- 팔로잉 리스트 모달 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModal2Label">팔로잉</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for following in user_followings %}
          <a class='follow' href="{% url 'accounts:detail' following.pk %}">
            {% if following.profile_image %}
              <img src="{{ following.profile_image.url }}" alt="">
            {% else %}
              <i class="bi bi-person-circle"></i>
            {% endif %}
            <p class='name'>{{ following.username }}</p>
          </a>
        {% empty %}
          <p>아직 팔로잉하는 회원이 없어요</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- 차단 회원 목록 모달 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">차단 회원</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column">
        {% for block in user_blocks %}
          <a class='block' href="{% url 'accounts:detail' block.pk %}">
            {% if block.profile_image %}
              <img src="{{ block.profile_image.url }}" alt="">
            {% else %}
              <i class="bi bi-person-circle"></i>
            {% endif %}
            <p class='name'>{{ block.username }}</p>
          </a>
          {% empty %}
          <p>아직 차단 회원이 없어요</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% comment %} 프로필에 해당하는 user {% endcomment %}
<input type="hidden" id="profile-user" value='{{ user.pk }}'>
{% comment %} 현재 로그인한 유저 {% endcomment %}
<input type="hidden" id="current-user" value='{{ request.user.pk }}'>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=df813f9bb6ba7a829754c605433c9041&libraries=services"></script>
<script src="{% static 'js/accounts/detail.js' %}"></script>
{% endblock js %}
