{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts/detail.css' %}">
{% endblock css %}

{% block content %}
  <main class="container">
    <div class='section-wrap row g-5'>

      {% comment %} 집사에 대한 정보 {% endcomment %}
      <section class='col col-12 col-md-4' id='person'>
        <!-- 프로필 이미지 -->
        <div class='img-wrap'>
          {% if user.profile_image %}
            <img class='writer-img' src="{{ user.profile_image.url }}" alt="">
          {% else %}
            <i class="bi bi-person-circle"></i>
          {% endif %}
          <p class='name'>{{ user.username }}</p>
        </div>

        <!-- 팔로워 박스 누르면 팔로워 목록 모달로 이동 -->
        <div class='follow-wrap'>
          <div class="follower" data-bs-toggle="modal" data-bs-target="#exampleModal">팔로워
            <b id="followers-count">{{ user.followers.all|length }}</b>
          </div>
          <div class="following" data-bs-toggle="modal" data-bs-target="#exampleModal2">팔로잉
            <b id="followings-count">{{ user.followings.all|length }}</b>
          </div>
        </div>

        <!-- 프로필 편집 / 팔로우 / 차단 -->
        {% if request.user == user %}
          <div class='update-block-wrap'>
            <a class="update-link" href="{% url 'accounts:update' user.pk %}">회원정보 수정</a>
            <a class="block-list" data-bs-toggle="modal" data-bs-target="#exampleModal3">차단 회원 목록</a>
          </div>
        {% else %}
        <div class='follow-block-form-wrap'>
          <form id="follow-form" action='' data-user-id='{{ user.pk }}'>
            {% csrf_token %}
            {% if request.user in user.followers.all %}
              <input type="submit" value="언팔로우">
            {% else %}
              <input type="submit" value="팔로우">
            {% endif %}
          </form>
          <form id="block-form" action="{% url 'accounts:block' user.pk %}">
            {% csrf_token %}
            {% if request.user in user.blockers.all %}
              <input type="submit" value="차단 해제">
            {% else %}
              <input type="submit" value="차단">
            {% endif %}
          </form>
        </div>
        {% endif %}

        <!-- 돌봄신청 알림 / 쪽지 알림 -->
        <div class='alarm'>
          <h5>돌봄신청 알림</h5>
          {% if user.pet_notice %}
            <label class="switch">
              <input type="checkbox" id='check1' checked="checked">
              <span class="slider round"></span>
            </label>
            <p>ON</p>
            <p style="display:none;">OFF</p>
          {% else %}
            <label class="switch">
              <input type="checkbox" id='check1'>
              <span class="slider round"></span>
            </label>
            <p>OFF</p>
            <p style="display:none;">ON</p>
          {% endif %}
          <h5>쪽지 알림</h5>
          {% if user.note_notice %}
            <div class="d-flex flex-column">
              <label class="switch">
                <input type="checkbox" id='check2' checked="checked">
                <span class="slider round"></span>
              </label>
              <h6 class="fw-bold mx-1 mt-2 text-center">ON</h6>
              <h6 class="fw-bold mx-1 mt-2 text-center" style="display:none;">OFF</h6>
            </div>
          {% else %}
            <div class="d-flex flex-column">
              <label class="switch">
                <input type="checkbox" id='check2'>
                <span class="slider round"></span>
              </label>
              <h6 class="fw-bold mx-1 mt-2 text-center">OFF</h6>
              <h6 class="fw-bold mx-1 mt-2 text-center" style="display:none;">ON</h6>
            </div>
          {% endif %}
          <form id="form-1">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">저장</button>
          </form>
        </div>
      </section>

      {% comment %} 반려동물에 대한 정보 {% endcomment %}
      <section class='col col-12 col-md-8' id='pets'>
        <!-- 반려동물 목록 -->
        <div>
          {% for user_pet in user_pets %}
            <a href="{% url 'accounts:pet_detail' user.pk user_pet.pk %}">
              {% if user_pet.pet_image %}
                <img src="{{ user_pet.pet_image.url }}" alt="" style="width: 50px; height: 50px; border-radius: 500px">
              {% endif %}
              <span>{{ user_pet.petname }}</span>
            </a>
          {% endfor %}
          <div>
            <a href="{% url 'accounts:pet_register' user.pk %}" class="btn btn-primary">반려동물 등록</a>
          </div>
        </div>

        <!-- 등록한 반려동물이 있으면 일기 작성 가능 - 코드 수정 -->
        <div>
          <!-- 일기 작성 버튼 -->
          <a href="{% url 'journal:journal_list' %}" class="btn btn-success">일기 목록</a>
          <a href="{% url 'journal:daily_create' %}" class="btn btn-success">일기 작성하기</a>
          <a href="{% url 'journal:dwj_create' %}" class="btn btn-success">산책일기 작성하기</a>
          <a href="{% url 'journal:health_create' %}" class="btn btn-success">건강일기 작성하기</a>
        </div>

        <!-- 지도 -->
        <div>
          <a href="{% url 'information:index' %}" class="btn btn-primary">내 주변 친구 찾기</a>
        </div>
      </section>
    </div>
  </main>

  <!-- 모달 -->
  <!-- 팔로워 리스트 모달 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">팔로워</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for follower in user_followers %}
            <a class='follow' href="{% url 'accounts:detail' follower.pk %}">
              {% if follower.profile_image %}
                <img src="{{ follower.profile_image.url }}" alt="">
              {% else %}
                <i class="bi bi-person-circle"></i>
              {% endif %}
              <p class='name'>{{ follower.username }}</p>
            </a>
          {% empty %}
            <p>아직 팔로워가 없어요</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- 팔로잉 리스트 모달 -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModal2Label">팔로잉</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for following in user_followings %}
            <a class='follow' href="{% url 'accounts:detail' following.pk %}">
              {% if following.profile_image %}
                <img src="{{ following.profile_image.url }}" alt="">
              {% else %}
                <i class="bi bi-person-circle"></i>
              {% endif %}
              <p class='name'>{{ following.username }}</p>
            </a>
          {% empty %}
            <p>아직 팔로잉하는 회원이 없어요</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- 차단 회원 목록 모달 -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">차단 회원</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column">
          {% for block in user_blocks %}
            <a class='block' href="{% url 'accounts:detail' block.pk %}">
              {% if block.profile_image %}
                <img src="{{ block.profile_image.url }}" alt="">
              {% else %}
                <i class="bi bi-person-circle"></i>
              {% endif %}
              <p class='name'>{{ block.username }}</p>
            </a>
            {% empty %}
            <p>아직 차단 회원이 없어요</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/accounts/detail.js' %}"></script>
{% endblock js %}