{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts/password_change.css' %}">
{% endblock css %}

{% block content %}
  <main class="container">
    <section class='row row-cols-2' id='password-change'>
      <div class='col head'>
        <h3>비밀번호 변경</h3>
      </div>
      <div class='col body'>
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="비밀번호 변경 완료" button_class="change-btn" %}
        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}