{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts/pet_detail.css' %}">
{% endblock css %}

{% block content %}
<main class="container">
  <h1>반려동물 정보 페이지</h1>
  <div class='main-inner'>
    {% comment %} 첨부 이미지 {% endcomment %}
    <div class="pet-image">
      {% if pet.pet_image %}
      <img class='real-img' src="{{ pet.pet_image.url }}" alt="" style="border-radius: 500px">
      {% else %}
      <div class='fake-img-wrap'>
        <img class='fake-img' src="{% static 'img/dog_and_cat.png' %}" alt="">
      </div>
      {% endif %}
    </div>

    {% comment %} 반려동물 분류 {% endcomment %}
    <div class='domain pet_species row'>
      <div class='head col-3'>
        <h5>반려동물 분류</h5>
      </div>
      <div class='body col-9'>
        {% if pet.species == 'dog' %}
        <img class='pet-icon' src="{% static 'img/dog.png' %}" alt="">
        {% else %}
        <img class='pet-icon' src="{% static 'img/cat.png' %}" alt="">
        {% endif %}
        <span>{{ pet.species }}</span>
      </div>
    </div>

    {% comment %} 반려동물 크기 {% endcomment %}
    <div class='domain pet_size row'>
      <div class='head col-3'>
        <h5>반려동물 크기</h5>
      </div>
      <div class='body col-9'>
      </div>
    </div>

    {% comment %} 이름 {% endcomment %}
    <div class='domain row'>
      <div class='head col-3'>
        <h5>이름</h5>
      </div>
      <div class='body col-9'>
        {{ pet.petname }}
      </div>
    </div>

    {% comment %} 종류 {% endcomment %}
    <div class='domain row'>
      <div class='head col-3'>
        <h5>종류</h5>
      </div>
      <div class='body col-9'>
      </div>
    </div>

    {% comment %} 성별 {% endcomment %}
    <div class='domain pet_gender row'>
      <div class='head col-3'>
        <h5>성별</h5>
      </div>
      <div class='body col-9'>
        {% if pet.petgender == 'M' %}
        <img class='gender-icon' src="{% static 'img/male.png' %}" alt=""> 남자
        {% else %}
        <img class='gender-icon' src="{% static 'img/female.png' %}" alt=""> 여자
        {% endif %}
      </div>
    </div>

    {% comment %} 생년월일 {% endcomment %}
    <div class='domain row'>
      <div class='head col-3'>
        <h5>생년월일</h5>
      </div>
      <div class='body col-9'>
      </div>
    </div>

    {% comment %} 나이 {% endcomment %}
    <div class='domain row'>
      <div class='head col-3'>
        <h5>나이</h5>
      </div>
      <div class='body col-9'>
        {{ pet.petage }}세
      </div>
    </div>

    {% comment %} 중성화 여부 {% endcomment %}
    <div class='domain pet_neutralization row'>
      <div class='head col-3'>
        <h5>중성화 여부</h5>
      </div>
      <div class='body col-9'>
        {% if pet.neutralization %}
        <span>중성화 O</span>
        {% else %}
        <span>중성화 X</span>
        {% endif %}
      </div>
    </div>

    {% comment %} 예방접종 여부 {% endcomment %}
    <div class='domain pet_vaccination row'>
      <div class='head col-3'>
        <h5>예방접종 여부</h5>
      </div>
      <div class='body col-9'>
      </div>
    </div>

    {% comment %} 성격 및 특징 {% endcomment %}
    <div class='domain row'>
      <div class='head col-3'>
        <h5>성격 및 특징</h5>
      </div>
      <div class='body col-9'>
        <div class='feature'>#활발한</div>
      </div>
    </div>

    {% comment %} 반려동물 정보 수정페이지 이동 버튼 {% endcomment %}
    <div class='go-to-update-btn-wrap'>
      <a class="go-to-update-btn" href="{% url 'accounts:pet_update' user.pk pet.pk %}">반려동물 정보 수정하기</a>
    </div>
  </div>
</main>
{% endblock content %}