{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}">
{% endblock css %}

{% block content %}
  <main class="container">
    <section class='row row-cols-2' id='signup'>
      <div class='col head'>
        <h3>회원가입</h3>
      </div>
      <div class='col body'>
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class='address-wrap'>
            <h6>주소</h6>
            <div class='search-address'>
              <input type="text" id="sample6_postcode" placeholder="우편번호" name="postcode" required="required">
              <input class="address-btn" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
            </div>
            <input type="text" id="sample6_address" placeholder="주소" name="address" required="required">
            <input type="text" id="sample6_detailAddress" placeholder="상세주소" name="detailAddress" required="required">
            <input type="hidden" id="sample6_extraAddress" name="extraAddress">
          </div>
          <button type="submit" class="signup-btn">가입하기</button>
        </form>
      </div>
    </section>
  </main>
{% endblock content %}

{% block js %}
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="{% static 'js/accounts/signup.js' %}"></script>
{% endblock js %}