{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/accounts/update.css' %}">
{% endblock css %}

{% block content %}
  <main class="container">
    <section class='row row-cols-2' id='signup'>
      <div class='col head'>
        <h3>회원정보 수정</h3>
      </div>
      <div class='col body'>
        {% comment %} 아이디(수정 못함) {% endcomment %}
        <h6>아이디</h6>
        <p>{{ request.user.username }}</p>
        {% comment %} 닉네임/나이/성별/프로필/주소/핸드폰번호 {% endcomment %}
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form update_form %}
          {% comment %} 주소 {% endcomment %}
          <div class='address-wrap'>
            <h6>주소</h6>
            {% if request.user.address %}
            <p>{{ request.user.address }}</p>
            {% endif %}
            <div class='search-address'>
              <input type="text" id="sample6_postcode" placeholder="우편번호" name="postcode">
              <input class="address-btn" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
            </div>
            <input type="text" id="sample6_address" placeholder="주소" name="address">
            <input type="text" id="sample6_detailAddress" placeholder="상세주소" name="detailAddress">
            <input type="hidden" id="sample6_extraAddress" name="extraAddress">
          </div>
          {% comment %} 휴대폰번호 {% endcomment %}
          {% comment %} <div>
            <label for="id_phone_num">핸드폰 번호</label>
            <input type="text" name='phone_num' value='{{ request.user.phone_num }}' maxlength='11' class='form-control' placeholder='휴대폰 번호' id='id_phone_num'>
          </div> {% endcomment %}
          {% comment %} <input type="hidden" id='' name="phone_num" value=''> {% endcomment %}
          {% if user.is_phone_active %}
            {% bootstrap_form auth_form %}
            <div id="phone-div" class="d-flex mb-3">
              <button id="get-auth-btn" class="btn btn-primary" data-account-id="{{ user.pk }}" style="width: 8rem;">번호 변경하기</button>
              <p id="already-auth-user" class="mx-3 my-0 d-flex justify-content-center align-items-center" style="font-weight: bolder;">이미 인증된 사용자입니다.</p>
              <input id="auth-phone" class="form-control d-none" name="auth-phone-input" type="text" placeholder="인증번호 입력" style="width: 8rem;">
              <button id="auth-phone-submit" class="form-control btn btn-primary d-none mx-3" type="button" data-account-id="{{ user.pk }}" style="width: 8rem;">인증</button>
              <p id="auth-timer" class="d-none d-flex justify-content-start align-items-center" style="width: auto; margin: 0; color:rgb(206, 34, 34); font-weight: bolder;"></p>
              <p id="help-text" class="d-none d-flex justify-content-start align-items-center" style="width: auto; margin: 0; color:rgb(206, 34, 34); font-weight: bolder;"></p>
            </div>
          {% else %}
            {% bootstrap_form auth_form %}
            <div class="d-flex mb-3">
              <button id="get-auth-btn" class="btn btn-primary" data-account-id="{{ user.pk }}" style="width: 8rem;">인증번호 받기</button>
              <input id="auth-phone" class="form-control d-none" name="auth-phone-input" type="text" placeholder="인증번호 입력" style="width: 8rem;">
              <button id="auth-phone-submit" class="form-control btn btn-primary d-none mx-3" type="button" data-account-id="{{ user.pk }}" style="width: 8rem;">인증하기</button>
              <p id="auth-timer" class="d-none d-flex justify-content-start align-items-center" style="width: auto; margin: 0; color:rgb(206, 34, 34); font-weight: bolder;"></p>
              <p id="help-text" class="d-none d-flex justify-content-start align-items-center" style="width: auto; margin: 0; color:rgb(206, 34, 34); font-weight: bolder;"></p>
            </div>
          {% endif %}
          <button type="submit" class="update-btn">수정 완료</button>
        </form>
        {% comment %} 비밀번호 변경 {% endcomment %}
        <div class='password-update-wrap'>
          <h6>비밀번호 변경을 원하시나요?</h6>
          <a href="{% url 'accounts:passwordchange' user.pk %}" class="password-update">비밀번호 변경</a>
        </div>
        {% comment %} 회원탈퇴 {% endcomment %}
        <div class='withdrawing-member-wrap'>
          <h6>회원 탈퇴하시겠습니까?</h6>
          <!-- 회원 탈퇴 -->
          <a href="{% url 'accounts:delete' %}" class="withdrawing-member" data-bs-toggle="modal" data-bs-target="#staticBackdrop">계정 삭제</a>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">회원탈퇴</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  정말 탈퇴하시겠습니까?
                </div>
                <div class="modal-footer">
                  <a href="{% url 'accounts:delete' %}" type="button" class="btn btn-danger">탈퇴</a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}

{% block js %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/accounts/update.js' %}"></script>
{% endblock js %}