.section-wrap {
  margin: 3rem 0
}

/* 집사의 정보 */
#person {
  padding: 2rem 1rem;
  border: 1px solid #EB7D80;
  border-radius: 2rem;
  max-height: 50rem;
}
#person .img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#person .img-wrap img {
  display: block;
  margin-bottom: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
#person .img-wrap .bi-person-circle {
  margin-bottom: 1rem;
  font-size: 10rem;
  color: #EB7D80;
  line-height: 10rem;
}
#person .img-wrap .name {
  font-size: 1.5rem;
  font-weight: 700;
}
#person .follow-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}
#person .follow-wrap .follower, 
#person .follow-wrap .following {
  font-size: 1.2rem; 
  cursor: pointer;
}
#person .follow-wrap .follower #followers-count, 
#person .follow-wrap .following #followings-count {
  color: #EB7D80;
}
#person .update-block-wrap {
  margin: 2rem 0;
}
#person .update-block-wrap a {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 70%;
  border: 1px solid #D9D9D9;
  border-radius: 2rem;
  color: #D9D9D9;
  text-align: center;
}
#person .update-block-wrap .update-link {
  margin-bottom: 1rem;
}
#person .update-block-wrap .block-list {
  cursor: pointer;
}
#person .follow-block-form-wrap {
  margin: 2rem 0;
}
#person .follow-block-form-wrap #follow-form, 
#person .follow-block-form-wrap #block-form {
  margin: 0 auto;
  width: 70%;
}
#person .follow-block-form-wrap #follow-form {
  margin-bottom: 1rem;
}
#person .follow-block-form-wrap #follow-form input[type='submit'], 
#person .follow-block-form-wrap #block-form input[type='submit'] {
  padding: 0.5rem 0;
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 2rem;
  background-color: white;
  color: #D9D9D9;
  text-align: center;
}
#person .notes-article-wrap {
  margin: 0 1rem;
  padding: 1rem;
  background-color: #ffe9e981;
  border-radius: 0 0 2rem 2rem;
  text-align: center;
}
#person .notes-article-wrap .strong {
  color: #EB7D80;
  font-weight: 700;
}
#person .notes-article-wrap .notes {
  padding-bottom: 1rem;
  border-bottom: 1px solid #D9D9D9;
}
#person .notes-article-wrap .notes .go-to-notes,
#person .notes-article-wrap .articles .go-to-my-article {
  display: block;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 1rem;
  width: 8rem;
  border-radius: 1rem;
  background-color: #EB7D80;
  color: white;
}
#person .notes-article-wrap .articles {
  padding-top: 1rem;
}


/* 반려동물의 정보 */
/* 반려동물 등록 */
#pets {
  margin-bottom: 2rem;
  padding: 0 3rem;
}
#pets .pet-register {
  margin-bottom: 2rem;
}
#pets .pet-register .register-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
#pets .pet-register .register-btn-wrap h3 {
  margin: 0;
  font-weight: 700;
}
#pets .pet-register .register-btn-wrap .register-btn {
  display: none;
  padding: 0.3rem 1rem;
  background-color: #EB7D80;
  color: white;
  border-radius: 1rem;
}
#pets .pet-register .register-btn-wrap .text {
  font-size: 0.8rem;
  color: #D9D9D9;
}

#pets .pet-register .swiper {
  width: 100%;
  height: 100%;
}
#pets .pet-register .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#pets .pet-register .swiper-slide .pet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 1.5rem 1rem;
  width: 100%;
  border-radius: 1rem;
  background-color: rgb(250, 245, 247);
  box-sizing: border-box;
}
#pets .pet-register .swiper-slide .pet.active {
  border: 3px ridge #D0ACBF;
}
#pets .pet-register .swiper-slide .pet .domain {
  margin: 0.1rem 0;
}
#pets .pet-register .swiper-slide .pet .img-name {
  display: flex;
  flex-direction: column;
}
#pets .pet-register .swiper-slide .pet .img-name img.profile {
  margin-bottom: 0.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
#pets .pet-register .swiper-slide .pet .img-name .name {
  font-size: 1.3rem;
  font-weight: 700;
}
#pets .pet-register .swiper-slide .pet .img-name .name:hover {
  color: #D0ACBF;
}
#pets .pet-register .swiper-slide .pet .species,
#pets .pet-register .swiper-slide .pet .age-gender,
#pets .pet-register .swiper-slide .pet .neutralization {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
#pets .pet-register .swiper-slide .pet .species .pet-icon,
#pets .pet-register .swiper-slide .pet .age-gender .gender-icon {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}
#pets .pet-register .swiper-slide .pet .age-gender .age {
  margin-right: 0.5rem;
}
#pets .pet-register .swiper-slide .pet .update-btn {
  display: block;
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  width: 100%;
  background-color: #D0ACBF;
  color: white;
  border-radius: 1rem;
}
#pets .pet-register .swiper-slide .add-pet-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1.5rem 1rem;
  width: 100%;
  height: 292px;
  border-radius: 1rem;
  border: 1px dashed #D0ACBF;
}
#pets .pet-register .swiper-slide .add-pet-block .plus {
  margin: 0 auto 0.5rem auto;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #D0ACBF;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3.5rem;
  text-align: center;
}
#pets .pet-register .swiper-slide .add-pet-block .text {
  color: #D0ACBF;
}

#pets .pet-register .no-registered-pets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border: 1px solid #F0E3E9;
}
#pets .pet-register .no-registered-pets img {
  width: 3rem;
  margin-bottom: 1rem;
}
#pets .pet-register .no-registered-pets > p {
  margin: 0;
  color: #e0d2d9;
  font-weight: 500;
}
#pets .pet-register .no-registered-pets a {
  margin-top: 1rem;
}
#pets .pet-register .no-registered-pets a .plus {
  margin: 0 auto 0.5rem auto;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #D0ACBF;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3.5rem;
  text-align: center;
}
#pets .pet-register .no-registered-pets a .text {
  margin: 0;
  color: #D0ACBF;
}
/* 반려동물 일기 */
#pets .pet-journal {
  margin-bottom: 3rem;
}
#pets .pet-journal .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pets .pet-journal .head h3, #pets .pet-journal .no-registered-pets h3 {
  margin-bottom: 1rem;
  font-weight: 700;
}
#pets .pet-journal .head .text {
  font-size: 0.8rem;
  color: #D9D9D9;
}
#pets .pet-journal .no-registered-pets .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border: 1px solid #e0d2d9;
  color: #e0d2d9;
}
/* 지도 */
#pets .my-friends {
  margin-bottom: 3rem;
}
#pets .my-friends h3 {
  margin-bottom: 1rem;
  font-weight: 700;
}
.customoverlay {position:relative;bottom:50px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#111;text-align:center;border-radius:6px;font-size:14px;font-weight:500;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:500;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
/* 내가 쓴 글 */
#pets #my-articles h3 {
  margin-top: -6rem;
  padding-top: 6rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
#pets #my-articles .nav-link {
  color: #D9D9D9;
}
#pets #my-articles .nav-link.active {
  color: #D9D9D9;
  font-weight: 700;
}
#pets #my-articles .nav-link .strong {
  color: #EB7D80;
  font-size: 0.8rem;
}
#pets #my-articles article {
  padding: 1rem 1rem;
  border-bottom: 1px solid #D9D9D9;
}
#pets #my-articles article .community {
  font-size: 0.7rem;
  color: #EB7D80;
}
#pets #my-articles article .title {
  margin-bottom: 0.1rem;
  font-weight: bold;
}
#pets #my-articles article .title a:hover {
  color: #F6A9A8;
}
#pets #my-articles article .content {
  font-size: 0.9rem;
  color: #5A5959;
  text-align: left;
}
#pets #my-articles article .foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  font-size: 0.6rem;
  color: #5A5959;
}
#pets #my-articles article .foot .like-comment .bi-hand-thumbs-up,
#pets #my-articles article .foot .like-comment .bi-chat-square {
  font-size: 0.9rem;
}
#pets #my-articles article .foot .like-comment span:nth-of-type(1) {
  margin-right: 0.5rem;
}


/* 모달 */
/* 팔로워, 팔로잉, 차단회원목록 */
.modal-body .follow, .modal-body .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 2rem;
}
.modal-body .follow:hover, .modal-body .block:hover {
  background-color: #D9D9D9;
  color: black;
}
.modal-body .follow img, .modal-body .block img  {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.modal-body .follow .bi-person-circle, .modal-body .block .bi-person-circle {
  font-size: 2rem;
  color: #EB7D80;
  line-height: 2rem;
}
.modal-body .follow .name, .modal-body .block .name {
  margin: 0;
}