#password-change {
  margin: 3rem auto;
  max-width: 50rem;
  border: 1px solid #eb7d8181;
}
#password-change .head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/static/img/bg-img2.jpg');
  background-size: 15rem;
}
#password-change .head h3 {
  display: inline-block;
  width: 7rem;
  background-color: white;
  box-shadow: 0.3rem 0.3rem 1rem 1rem white;
  text-align: center;
  font-weight: 800;
  line-height: 2.3rem;
}
#password-change .body {
  padding: 4rem 2rem;
}
#password-change .body label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}
#id_old_password, #id_new_password1, #id_new_password2 {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #F6A9A8;
  border-radius: 0.5rem;
}
#id_old_password:focus, #id_new_password1:focus, #id_new_password2:focus {
  border: 1px solid #F6A9A8;
  box-shadow: 2px 2px 5px 5px #f6a9a82c;
  outline: none;
}
#password-change .body .change-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #EB7D80;
  color: white;
}