{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/notes/detail.css' %}">
{% endblock css %}

{% block content %}
<main class="container my-5" style="max-width:500px;">
  <!-- 프로필이미지 넣어주기 <div class="d-flex justify-content-center mb-2" id="profile"> <img id="profileimage" src="{{note.from_user.profileimage}}" alt="프로필 이미지" style="width: 120px; height:120px;" class="rounded-circle"> </div> -->

  {% comment %} 쪽지 {% endcomment %}
  <section id='super-wrap'>
    {% comment %} 받는 사람 {% endcomment %}
    <p class='to-user'>
      <span class='large'>To.</span>
      {% if note.to_user.nickname %}
        {{ note.to_user.nickname }}
      {% else %}
        {{ note.to_user.username }}
      {% endif %}
    </p>

    {% comment %} 제목 {% endcomment %}
    <h5 class='title'><{{ note.title }}></h5>

    {% comment %} 내용 {% endcomment %}
    <p>{{ note.content }}</p>

    {% comment %} 보내는 사람 {% endcomment %}
    <div class='from-user'>
      <span class='large'>From.</span>
      <a href="{% url 'accounts:detail' note.from_user.pk %}">
        {% if note.from_user.nickname %}
          {{ note.from_user.nickname }}
        {% else %}
          {{ note.from_user.username }}
        {% endif %}
      </a>
    </div>

    {% comment %} 보낸 시각 {% endcomment %}
    <div class='send-time'>
      {{ note.created_at|date:'o.m.d' }}
      {{ note.created_at|time:"H:i" }}
    </div>
  </section>

  {% comment %} 답장 버튼 {% endcomment %}
  {% if note.from_user != request.user %}
  <section id="send-btn-wrap">
    <a class='send-btn mx-1' href="{% url 'notes:index' %}">쪽지함 가기</a>
    <a class='send-btn' href="{% url 'notes:send' note.from_user.pk %}">
      <i class="bi bi-envelope-heart"></i>
      답장하기
    </a>
  </section>
  {% endif %}

  {% comment %} 모달 {% endcomment %}
  {% comment %} <div id="modal" class="modal-overlay">
    <div class="modal-window">
      <div class="title">
        <h2>
          {% if note.from_user.nickname %}
            {{ note.from_user.nickname }}
          {% else %}
            {{ note.from_user.username }}
          {% endif %}
        </h2>
      </div>
      <div class="close-area">X</div>
      <div class="content">
        <h3>
          <a href="{% url 'accounts:detail' note.from_user.pk %}" class="text-decoration-none text-white">프로필</a>
        </h3>
        <h3>
          <a href="{% url 'notes:send' note.from_user.pk %}" class="text-decoration-none text-white">쪽지</a>
        </h3>
      </div>
    </div>
  </div> {% endcomment %}
</main>
{% endblock %}

{% block js %}
<script src="{% static 'js/notes/detail.js' %}"></script>
{% endblock js %}