{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/journal/create.css' %}">
{% endblock css %}

{% block content %}
  <div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class='pet-journal-button d-flex justify-content-around'>
        <button type="submit" class="btn-journal">등록</button>
      </div>
    </form>
  </div>
{% endblock content %}
