{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <div>
      <h1>건강일기</h1>
      <p>{{ health.meals }}</p>
      <p>{{ health.energy }}</p>
      <p>{{ health.medicine }}</p>
      <div class="justify-content-end">
        <!-- 작성 시간 -->
        {% if health.created_string == False %}
          <small>{{ health.created_at|date:'Y-m-d H:i' }}</small>
        {% else %}
          <small>{{ health.created_string }}</small>
        {% endif %}
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a href="{% url 'journal:journal_list' %}" class="btn btn-light mx-1">목록으로</a>
      <a href="{% url 'journal:health_update' health.pk %}" class="btn btn-light mx-1">수정하기</a>
      <a href="{% url 'journal:health_delete' health.pk %}" class="btn btn-danger mx-1">삭제하기</a>
    </div>
  </div>
{% endblock content %}
