{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/journal/list.css' %}">
{% endblock css %}

{% block content %}
  <div class="container">
    <div id='my-articles'>
      <div class="d-flex justify-content-between">
        <h3>일기 목록</h3>
        <a href="{% url 'accounts:detail' user.pk %}" class="btn-list">마이페이지</a>
      </div>
      <nav class="mt-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">일기
          </button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">산책일기
          </button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">건강일기
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <!-- 일기 -->
        <div class="tab-pane fade show active mt-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
          {% for daily in daily_journal %}
            {% if request.user == daily.user %}
              <div class="container d-flex justify-content-between">
                <a href="{% url 'journal:daily_detail' daily.pk %}">
                  <p>{{ daily.content }}</p>
                </a>
                {% if daily.created_string == False %}
                  <small>{{ daily.created_at|date:'Y-m-d H:i' }}</small>
                {% else %}
                  <small>{{ daily.created_string }}</small>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- 산책일기 -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          {% for dw in dw_journal %}
            {% if request.user == dw.user %}
              <div class="container d-flex justify-content-between">
                <a href="{% url 'journal:dwj_detail' dw.pk %}">
                  <p>{{ dw.route }}</p>
                </a>
                {% if dw.created_string == False %}
                  <small>{{ dw.created_at|date:'Y-m-d H:i' }}</small>
                {% else %}
                  <small>{{ dw.created_string }}</small>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- 건강일기 -->
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          {% for health in health_journal %}
            {% if request.user == health.user %}
              <div class="container d-flex justify-content-between">
                <a href="{% url 'journal:health_detail' health.pk %}">
                  <p>{{ health.meals }}</p>
                </a>
                {% if health.created_string == False %}
                  <small>{{ health.created_at|date:'Y-m-d H:i' }}</small>
                {% else %}
                  <small>{{ health.created_string }}</small>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}