{% load static %}

<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/init.css' %}">
    <title>당근집사</title>
  </head>

  <body>
    <section>
      <video src="{% static 'video/home.mp4' %}" height="100vh" width="100%" autoplay="autoplay" loop="loop" muted="muted"></video>
    </section>

  </body>

</html>