{% load static %}

<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/init.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>당근집사</title>
  </head>

  <body>
    {% comment %} 비디오 배경 {% endcomment %}
    <section class='home-video'>
      <video src="{% static 'video/home.mp4' %}" autoplay="autoplay" loop="loop" muted="muted"></video>
      <div class='video-overlay'>
        <div class='title-wrap'>
          <p class='title'>당신 근처의 집사<br>당근집사</p>
          <p>이웃과 함께해<br>가깝고 따뜻한 당신의 근처를 만들어요.</p>
        </div>
      </div>
    </section>
    {% comment %} 커뮤니티 {% endcomment %}
    <section class='domain community row row-cols-1 row-cols-md-2 g-5'>
      <div class='paragraph col'>
        <div>
          <p class='title'>이웃과 함께 하는<br>반려생활</p>
          <p class='content'>내 반려동물을 자랑하고, 각종 정보를 이웃과 나눠보세요.</p>
          <a href="{% url 'communities:index' %}" class='button'>커뮤니티로 이동</a>
        </div>
      </div>
      <div class='col'>
        <div class='image'>
          <img src="{% static 'img/browser.png' %}" alt="">
          <img src="{% static 'img/고양이1.png' %}" alt="">
        </div>
      </div>
    </section>
    {% comment %} 산책메이트 {% endcomment %}
    <section class='domain dogwalking row row-cols-1 row-cols-md-2 g-5'>
      <div class='col'>
        <div class='image'>
          <img src="{% static 'img/browser.png' %}" alt="">
          <img src="{% static 'img/고양이1.png' %}" alt="">
        </div>
      </div>
      <div class='paragraph col'>
        <div>
          <p class='title'>산책 친구를<br>만들고 싶을땐?</p>
          <p class='content'>반려동물과 함께 산책할 이웃을 찾아보세요!</p>
          <a href="{% url 'dogwalking:index' %}" class='button'>산책메이트로 이동</a>
        </div>
      </div>
    </section>
    {% comment %} 돌봄 {% endcomment %}
    <section class='domain care row row-cols-1 row-cols-md-2 g-5'>
      <div class='paragraph col'>
        <div>
          <p class='title'>고양이, 강아지<br>돌봄이 필요할땐?</p>
          <p class='content'>우리동네 이웃 집사님께 반려동물의 돌봄을 맡겨보세요!</p>
          <a href="{% url 'care:index' %}" class='button'>돌봄으로 이동</a>
        </div>
      </div>
      <div class='col'>
        <div class='image'>
          <img src="{% static 'img/browser.png' %}" alt="">
          <img src="{% static 'img/고양이1.png' %}" alt="">
        </div>
      </div>
    </section>
    {% comment %} 데이트 {% endcomment %}
    <section class='domain dating row row-cols-1 row-cols-md-2 g-5'>
      <div class='col'>
        <div class='image'>
          <img src="{% static 'img/browser.png' %}" alt="">
          <img src="{% static 'img/고양이1.png' %}" alt="">
        </div>
      </div>
      <div class='paragraph col'>
        <div>
          <p class='title'>언제나 반려동물과<br>함께 하고 싶을땐?</p>
          <p class='content'>
            반려동물 동반이 가능한 음식점, 카페를 찾아보세요.<br>
            전국에 있는 동물 병원도 손쉽게 찾아볼 수 있습니다.
          </p>
          <a href="{% url 'information:index' %}" class='button'>데이트로 이동</a>
        </div>
      </div>
    </section>
    {% comment %} 푸터 {% endcomment %}
    <footer>
      <div class='left'>
        <img src="{% static 'img/footer_dogfoot.png' %}" alt="">
      </div>
      <div class='right'>
        <p>당신 근처의 집사</p>
        <p>(주)당근집사</p>
        <p>서울특별시 강남구 연주로 508</p>
        <p>연락처: 1544-9001</p>
        <p>Copyright by dangenzipsa Co., Ltd. All rights reserved.</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="{% static 'js/home.js' %}"></script>
  </body>

</html>