{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<!-- 글 상세 내용 -->
<div class="container">
  <div>
    {{ dogwalking.title }}
  </div>
  <div>
    {{ dogwalking.members}}
  </div>
  <div>
    {{ dogwalking.content}}
  </div>
  <div>
    {{ dogwalking.updated_at }}
  </div>
  {% if dogwalking.image %}
  <div class="d-flex justify-content-center">
    <img src="{{ dogwalking.image.url }}" alt="{{ dogwalking.image }}" class="container px-0">
  </div>
  {% else %}
  <div class="d-flex justify-content-center">
    <img src="" alt="">
  </div>
  {% endif %}


  <!-- tag -->
  {% if dogwalking.tags.all %}
  {% for tag in dogwalking.tags.all %}
  <h4><a style="text-decoration: none" href="">
      <span class="badge rounded-pill bg-primary">
        #{{ tag.name }}
      </span>
    </a>
  </h4>
  {% endfor %}
  {% endif %}
</div>

<!-- 수정/삭제 버튼 -->
<div class="text-end me-5">
  <a class="btn btn-outline-dark" href="{% url 'dogwalking:update' dogwalking.pk %}">
    수정
  </a>
  <a class="btn btn-outline-dark" href="{% url 'dogwalking:delete' dogwalking.pk %}">
    삭제
  </a>
</div>

<!-- like -->
<div>
  {% if request.user.is_authenticated %}
  {% if request.user in dogwalking.like_user.all %}
  <i id="" data-dogwalking-id="{{ dogwalking.pk }}" class="bi bi-hand-thumbs-up-fill like-btn"></i>
  {% else %}
  <i id="" data-dogwalking-id="{{ dogwalking.pk }}" class="bi bi-hand-thumbs-up like-btn"></i>
  {% endif %}
  {% endif %}
  <span id="like-count">{{ dogwalking.like_user.count }}</span>
</div>

  {% comment %} 댓글 {% endcomment %}
  {% if request.user.is_authenticated %}
  <form action="{% url 'dogwalking:comment_create' dogwalking.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="float-end btn btn-primary ">등록</button>
  </form>
{% endif %}

{% for comment in comments %}
  <div>
    <div class='writer-info'>
      <a href="{% url 'accounts:detail' comment.user.pk %}">
        {% if comment.user.profile_image %}
          <img class='writer-img' src="{{ comment.user.profile_image.url }}" alt="">
        {% else %}
          <i class="bi bi-person-circle"></i>
        {% endif %}
      </a>
      <div class='detail'>
        <p>{{ comment.user.username }}</p>
        <p class='date'>
          {{ comment.created_at|date:"Y.m.d" }}
          {{ comment.created_at|time:"H:i" }}
        </p>
        <p>{{ comment.content }}</p>
      </div>
    </div>

    {% if request.user == comment.user %}
      <form action="{% url "dogwalking:comment_delete" dogwalking.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input class='delete-btn' type="submit" value="삭제">
      </form>
    {% endif %}
  </div>
  {% empty %}
  <div class='no-comment'>
    <p>
      <i class="bi bi-chat-square-text-fill"></i>
    </p>
    <p class='text'>첫 댓글을 남겨주세요.</p>
  </div>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const likeBtn = document.querySelector('.like-btn')
  likeBtn.addEventListener('click', function (event) {
    console.log(event.target.dataset)
    axios({ method: 'get', url: `/dogwalking/${event.target.dataset.dogwalkingId}/like/` }).then(response => {
      console.log(response)
      console.log(response.data)
      console.log(response.data.is_liked)
      if (response.data.is_liked === true) {
        event
          .target
          .classList
          .add('bi-hand-thumbs-up-fill')
        event
          .target
          .classList
          .remove('bi-hand-thumbs-up')
      } else {
        event
          .target
          .classList
          .add('bi-hand-thumbs-up')
        event
          .target
          .classList
          .remove('bi-hand-thumbs-up-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>

{% endblock content %}