{% extends 'base.html' %}
{% load static %}
{% block css %}
<script src="https://kit.fontawesome.com/a261e34fb9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{% static 'css/dogwalking/index.css' %}">
{% endblock css %}

<!-- Content -->
{% block content %}
<main>
  {% comment %} 산책 친구가 되어주세요 {% endcomment %}
  <section id='dogwalking-filter'>
    <div class='container'>
      <div class='super-head'>
        <div>
          <h1>산책 친구가 되어주세요</h1>
          <span class='sub-text'>같이 산책하고 싶은 친구를 선택해 보세요</span>
        </div>
        {% comment %} 취소 / 제출버튼 {% endcomment %}
        <div>
          <input form='filter-form' type="submit" value="적용">
          <a href="{% url 'dogwalking:index' %}" class='filter-cancel'>취소</a>
        </div>
      </div> 
      <div class='row'>
        {% comment %} 1) 로그인한 사람(자신)의 프로필 {% endcomment %}
        {% if request.user.is_authenticated %}
        <div class='col-3' id='person'>
          <div class='img-wrap'>
            {% if request.user.profile_image %}
            <img src="{{ request.user.profile_image.url }}" alt="">
            {% else %}
            <i class="bi bi-person-circle"></i>
            {% endif %}
            <span class='name'>{{ user.nickname }}</span>
            <span>
              {% if user.gender == 'M' %}
              남자
              {% else %}
              여자
              {% endif %}
                | 
              {{ user.age }}세
            </span>
          </div>
        </div>
        {% endif %}

        {% comment %} 2) 같이 산책하고 싶은 친구 찾기 {% endcomment %}
        <div class='{% if request.user.is_authenticated %}col-9{% else %}col-12{% endif %}'>
          <form id='filter-form' action="{% url 'dogwalking:index' %}" method='get'>
            {% comment %} 산책 친구의 반려동물 {% endcomment %}
            <div class='section pet_species row'>
              <div class='head col-3'>
                <h5>산책 친구의 반려동물</h5>
                <span class='text'>하나만 선택 가능</span>
              </div>
              <div class='body col-9'>
                <label for='dog' class='active'>강아지</label>
                <input type='radio' id='dog' name='pet_species' value='dog' checked/>
                <label for='cat'>고양이</label>
                <input type='radio' id='cat' name='pet_species' value='cat'/>
              </div>
            </div>

            {% comment %} 반려동물의 성격 {% endcomment %}
            <div class='section characteristics row'>
              <div class='head col-3'>
                <h5>반려동물의 성격</h5>
                <span class='text'>다중 선택 가능</span>
              </div>
              <div class='col-9'>
                <div class='body mb-2'>
                  <label for='활발한' class='active'>활발한</label>
                  <input type='checkbox' id='활발한' name='characteristics' value='활발한' checked/>
                  <label for='소심한'>소심한</label>
                  <input type='checkbox' id='소심한' name='characteristics' value='소심한'/>
                  <label for='긍정적인'>긍정적인</label>
                  <input type='checkbox' id='긍정적인' name='characteristics' value='긍정적인'/>
                </div>
                <div class='body mb-2'>
                  <label for='적응력높은'>적응력높은</label>
                  <input type='checkbox' id='적응력높은' name='characteristics' value='적응력높은'/>
                  <label for='충성심높은'>충성심높은</label>
                  <input type='checkbox' id='충성심높은' name='characteristics' value='충성심높은'/>
                  <label for='애교많은'>애교많은</label>
                  <input type='checkbox' id='애교많은' name='characteristics' value='애교많은'/>
                </div>
                <div class='body'>
                  <label for='예민한'>예민한</label>
                  <input type='checkbox' id='예민한' name='characteristics' value='예민한'/>
                  <label for='호기심많은'>호기심많은</label>
                  <input type='checkbox' id='호기심많은' name='characteristics' value='호기심많은'/>
                  <label for='겁이많은'>겁이많은</label>
                  <input type='checkbox' id='겁이많은' name='characteristics' value='겁이많은'/>
                </div>
              </div>
            </div>

            {% comment %} 산책 친구의 지역 {% endcomment %}
            <div class='section possible-area row'>
              <div class='head col-3'>
                <h5>산책 친구의 지역</h5>
              </div>
              <div class='body col-9'>
                <select name="area" id='area'>
                  {% for area in area_list %}
                  <option value="{{ area }}">{{ area }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% comment %} <!-- 글작성버튼 -->
    <button class="side__nav__btn">산책 친구 찾기</button>
    <!-- filter-drop -->
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            지역
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <p>전국</p>
            <p>내위치</p>
            <p>서울</p>
            <p>대구</p>
            <p>대전</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            견종
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <p>전부</p>
            <p>강아지</p>
            <p>고양이</p>
          </div>
        </div>
      </div>
      <button class="side__nav__btn">적용</button>
    </div> {% endcomment %}
  </section>
  <!-- card-container -->
  <section class="container main-cards">
    <!-- Card-wrap 산책친구 -->
    <div class="card-wrap">
      <div class="card-top">
        <h3>산책 친구를 찾습니다</h3>
        <a href="/dogwalking/more?more=find-friends">
          더보기<i class="fa-solid fa-chevron-right ms-1"></i>
        </a>
      </div>
      <!-- Swiper -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- 산책친구 아이템 -->
          {% for article in dogwalking %}
          {{ article.writing_down }}
          {% comment %} {% if not article.writing_down %}
          <div class="swiper-slide">
            <!-- card-item -->
            <article class="card__item">
              <!-- card-item-top -->
              <div class="card__item-top">
                <!-- card-item-user -->
                <div class="card__item__user">
                  {% if article.user.profile_image %}
                  <img src="{{ article.user.profile_image.url }}" alt="card-user-image">
                  {% else %}
                  <i class="bi bi-person-circle"></i>
                  {% endif %}
                  {% if article.user.nickname %}
                  <p>{{ article.user.nickname }}</p>
                  {% else %}
                  <p>{{ article.user.username }}</p>
                  {% endif %}
                </div>
                <!-- 분류 뱃지 -->
                <div class='badge species-badge'>
                  {% if article.pet.species == 'dog' %}
                  강아지
                  {% else %}
                  고양이
                  {% endif %}
                </div>
              </div>
          
              <!-- card-item-image -->
              <div class="card__item__image">
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="card-image">
                {% else %}
                <img src="{% static 'img/dog-walking-icon.png' %}" alt="card-image">
                {% endif %}
              </div>
          
              <!-- card-item-bottom -->
              <div class="card__item-bottom">
                <a href="{% url 'dogwalking:detail' article.pk %}" class='card__item__title'>
                  {{ article.title|truncatechars:15 }}
                </a>
                <p><i class="bi bi-geo-alt"></i> {{ article.area }}</p>
                <div class='matching'>
                  <span>최대 <span class='number'>{{ article.walking_member }}</span>명</span>
                  <span>매칭 <span class='number'>{{ article.walking.count }}</span>명</sp>
                </div>
                <div class='apply-buttons'>
                  {% if article.user != request.user %}
                    {% if request.user in article.walking.all %}
                      <a class='button cancel-btn' href="{% url "dogwalking:walking" article.pk %}">산책 신청 취소</a>
                    {% elif article.walking_member == article.walking.count %}
                      <p class='button the-end'>산책 신청 마감</p>
                    {% else %}
                      <a class='button apply-btn' href="{% url "dogwalking:walking" article.pk %}">산책 신청</a>
                    {% endif %}
                  {% else %}
                  <a class='button end-btn' href="{% url 'dogwalking:writing' article.pk %}">산책 신청 마감</a>
                  {% endif %}
                </div>
              </div>
            </article>
          </div>
          {% endif %} {% endcomment %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Card-wrap 최근매칭 -->
    <div class="card-wrap">
      <div class="card-top">
        <h3>최근 산책 매칭</h3>
        <a href="/dogwalking/more?more=found-friends">
          더보기<i class="fa-solid fa-chevron-right ms-1"></i>
        </a>
      </div>
      <!-- Swiper -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- slide 최근매칭 아이템 -->
          {% comment %} {% for article in dogwalking %}
          {% if article.writing_down %}
          <div class="swiper-slide">
            <!-- card-item -->
            <article class="card__item">
              <!-- card-item-top -->
              <div class="card__item-top">
                <!-- card-item-user -->
                <div class="card__item__user">
                  {% if article.user.profile_image %}
                  <img src="{{ article.user.profile_image.url }}" alt="card-user-image">
                  {% else %}
                  <i class="bi bi-person-circle"></i>
                  {% endif %}
                  {% if article.user.nickname %}
                  <p>{{ article.user.nickname }}</p>
                  {% else %}
                  <p>{{ article.user.username }}</p>
                  {% endif %}
                </div>
                <!-- card-item-avg -->
               <div class="card__item__avg">
                  <i class="fa-regular fa-heart fa-xl"></i>
                  <p>평점</p>
                </div>
                <!-- 분류 뱃지 -->
                <div class='badges'>
                  {% if article.review_set.all.0 %}
                  <div class='badge review-badge'>
                    후기 O
                  </div>
                  {% endif %}
                  <div class='badge species-badge'>
                    {% if article.pet.species == 'dog' %}
                    강아지
                    {% else %}
                    고양이
                    {% endif %}
                  </div>
                </div>
              </div>
          
              <!-- card-item-image -->
              <div class="card__item__image">
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="card-image">
                {% else %}
                <img src="{% static 'img/dog-walking-icon.png' %}" alt="card-image">
                {% endif %}
              </div>
          
              <!-- card-item-bottom -->
              <div class="card__item-bottom">
                <a href="{% url 'dogwalking:detail' article.pk %}" class='card__item__title'>
                  {{ article.title|truncatechars:15 }}
                </a>
                <p><i class="bi bi-geo-alt"></i> {{ article.area }}</p>
                <div class='matching mb-0'>
                  <span>최대 <span class='number'>{{ article.walking_member }}</span>명</span>
                  <span>매칭 <span class='number'>{{ article.walking.count }}</span>명</sp>
                </div>
              </div>
            </article>
          </div>
          {% endif %}
          {% endfor %} {% endcomment %}
        </div>
      </div>
    </div>
  </section>

  {% comment %} 글작성 버튼 {% endcomment %}
  <a class='writing-btn-round active' 
  {% if request.user.is_authenticated %}
  href="{% url 'dogwalking:create' %}"
  title='산책메이트 찾는 글 작성하기'
  {% endif %}
  {% if not request.user.is_authenticated %}
  style='background-color: #D9D9D9;'
  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="로그인해야 작성이 가능합니다"
  {% endif %}
  ><i class="bi bi-pencil"></i></a>
</main>
{% endblock content %}


<!-- JS -->
{% block js %}
<script defer src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script defer src="{% static 'js/dogwalking/index.js' %}"></script>
{% endblock js%}