{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/dogwalking/create.css' %}">
{% endblock css %}

{% block content %}
  <main class="containter">
    <h1>
      <span class='large'>'산책친구를 찾습니다'</span>
      글 수정
    </h1>

    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form dogwalking_form %}
      {% bootstrap_button content="수정완료" button_type="submit" button_class="btn-outline-dark col-12" %}


      
    </form>
  </main>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/dogwalking/update.js' %}"></script>
{% endblock js %}