{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/care/detail.css' %}">
{% endblock css %}

{% block content %}
<main class="container" style='max-width:40rem;'>
  {% comment %} 헤더 {% endcomment %}
  <section id='head'>
    <div class='category-btns'>
      <p class='category'>돌보미를 찾습니다</p>
      <!-- 수정/삭제 버튼/돌봄 신청자 목록/돌봄 신청 마감 버튼 -->
      {% if request.user == care.user %}
      <div class='update-delete-btn'>
        <a class='update-btn' href="{% url 'care:update' care.pk %}">수정</a>
        |
        <!-- 게시글 삭제 버튼 - Button trigger modal -->
        <button type="button" class="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteModal">
          삭제
        </button>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">정말로 삭제하시겠습니까?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                해당 게시물을 삭제하면 관련 댓글도 전부 지워집니다.<br>
                정말로 삭제하시겠습니까?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <form action="{% url 'care:delete' care.pk %}" method='POST'>
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">삭제</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        |
        <!-- 돌봄 신청자 목록 버튼 - Button trigger modal -->
        <button type="button" class="applicant-btn" data-bs-toggle="modal" data-bs-target="#applicant-modal">돌봄 신청자 목록</button>
        <!-- Modal -->
        <div class="modal fade" id="applicant-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">돌봄 신청자 목록</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body d-flex flex-column">
                {% if care.caring %}
                  <a class='applicant' href="{% url 'accounts:detail' care.pk %}">
                    {% if care.caring.profile_image %}
                      <img src="{{ care.caring.profile_image.url }}" alt="">
                    {% else %}
                      <i class="bi bi-person-circle"></i>
                    {% endif %}
                    {% if care.caring.nickname %}
                      <p class='name'>{{ care.caring.nickname }}</p>
                    {% else %}
                      <p class='name'>{{ care.caring.username }}</p>
                    {% endif %}
                  </a>
                {% else %}
                  <p>돌봄 신청자가 없습니다</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% if care.writing_down == false %}
        |
        <!-- 돌봄 신청 마감 버튼 - Button trigger modal -->
        <button type="button" class="applicant-close-btn" data-bs-toggle="modal" data-bs-target="#applicant-closeModal">
          돌봄 신청 마감
        </button>
        <!-- Modal -->
        <div class="modal fade" id="applicant-closeModal" tabindex="-1" aria-labelledby="applicant-closeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">돌봄 신청을 마감하시겠습니까?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                돌봄 신청을 마감하면 더이상 신청자를 받을 수 없습니다.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <form action="{% url 'care:caring' care.pk %}" method='GET'>
                  <button type="submit" class="btn btn-success">돌봄 신청 마감</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% else %}
      <div class='note-btns-wrap'>
        {% if care.writing_down == false %}
        <div class='apply-buttons'>
          <a class='button apply-btn' href="{% url "care:caring" care.pk %}">돌봄 신청</a>
        </div>
        {% endif %}
        <a href="{% url 'notes:send' care.user.pk %}" class='send-note' data-bs-toggle="tooltip-note" data-bs-placement="bottom" data-bs-title="쪽지를 보내 작성자와 이야기를 나눠보세요"><i class="bi bi-send"></i> 쪽지 보내기</a>
      </div>
      {% endif %}
    </div>
    <h3 class='title'>{{ care.title }}</h3>
    <p class='pet-need-caring'>돌봄이 필요한 반려동물: 
      {% if care.pet.species == 'dog' %}
      <img class='pet-icon' src="{% static 'img/dog.png' %}" alt=""> 강아지
      {% else %}
      <img class='pet-icon' src="{% static 'img/cat.png' %}" alt=""> 고양이
      {% endif %}
      - {{ care.pet.petname }}</p>
    <div class='detail-info'>
      <div class='writer-info'>
        <a href="{% url 'accounts:detail' care.user.pk %}">
          {% if care.user.profile_image %}
          <img class='writer-img' src="{{ care.user.profile_image.url }}" alt="">
          {% else %}
          <i class="bi bi-person-circle"></i>
          {% endif %}
        </a>
        <div class='writer-date'>
          {% if care.user.nickname %}
          <p>{{ care.user.nickname }}</p>
          {% else %}
          <p>{{ care.user.username }}</p>
          {% endif %}
          <p class='date'>{{ care.updated_at|date:"Y.m.d" }}</p>
        </div>
      </div>
      <div class='like-wrap'>
        <!-- 좋아요 -->
        {% if request.user in care.like_user.all %}
        <i data-care-id="{{ care.pk }}" class="bi bi-heart-fill like-btn"></i> 
        {% else %}
        <i data-care-id="{{ care.pk }}" class="bi bi-heart like-btn"></i> 
        {% endif %}
        <span class="ms-1" id="like-count">{{ care.like_user.count }}</span>
        <input type="hidden" id='is-authenticated' value="{{ request.user.is_authenticated }}">
      </div>
    </div>
  </section>
  
  {% comment %} 내용 {% endcomment %}
  <section id='article-content'>
    <p class="text-break">{{ care.content|linebreaksbr }}</p>
    {% if care.image %}
    <img src="{{ care.image.url }}" alt="">
    {% endif %}
    {% comment %} 돌보미 요구 조건 {% endcomment %}
    <div class='requirements'>
      <table>
        <tr>
          <th>✔ 돌봄이 필요한 반려동물</th>
          <td>
            {% if care.pet.species == 'dog' %}
            <img class='pet-icon' src="{% static 'img/dog.png' %}" alt=""> 강아지
            {% else %}
            <img class='pet-icon' src="{% static 'img/cat.png' %}" alt=""> 고양이
            {% endif %}
            - {{ care.pet.petname }}
          </td>
        </tr>
        <tr>
          <th>✔ 반려동물과 함께 지내는 지역</th>
          <td>{{ care.area }}</td>
        </tr>
        <tr>
          <th>✔ 요구하는 돌보미 성별</th>
          <td>{{ care.gender }}</td>
        </tr>
        <tr>
          <th>✔ 요구하는 돌봄 기간</th>
          <td>{{ care.caring_time }}</td>
        </tr>
        <tr>
          <th>✔ 기타 요구사항</th>
          <td>
            {% for etc in etcs %}
            <div>{{ etc }}</div>
            {% endfor %}
          </td>
        </tr>
      </table>
    </div>
    <!-- tag -->
    {% if care.tags.all %}
    <div class='tags'>
      {% for tag in care.tags.all %}
      <a class='tag' href="">#{{ tag.name }}</a>
      {% endfor %}
      {% comment %} <a style="text-decoration: none" href="{% url 'communities:tag_cloud' %}">태그 모아보기<i class="bi bi-tag"></i></a> {% endcomment %}
    </div>
    {% endif %}
  </section>
  
  {% comment %} 댓글 {% endcomment %}
  <section id='article-comment'>
    <div class='head'>
      <i class="bi bi-chat-square"></i>
      <span>{{ care.comment_set.count }}</span>
    </div>
    <div class='body'>
      <!-- 댓글 작성 폼 -->
      {% if request.user.is_authenticated %}
      <form class='comment-form' action="{% url 'care:comment_create' care.pk %}" method="POST">
        {% csrf_token %}
        <div class='row g-0'>
          <div class='col-11'>
            {{ form.content|attr:'rows:1'|attr:'placeholder:댓글을 남겨보세요.' }}
          </div>
          <div class='col-1'>
            <input type="submit" value="저장">
          </div>
        </div>
      </form>
      {% endif %}
      <!-- 작성된 댓글 -->
      {% for comment in comments %}
      <article>
        <div class='writer-info'>
          <a href="{% url 'accounts:detail' comment.user.pk %}">
            {% if comment.user.profile_image %}
            <img class='writer-img' src="{{ comment.user.profile_image.url }}" alt="">
            {% else %}
            <i class="bi bi-person-circle"></i>
            {% endif %}
          </a>
          <div class='detail'>
            {% if comment.user.nickname %}
            <p>{{ comment.user.nickname }}</p>
            {% else %}
            <p>{{ comment.user.username }}</p>
            {% endif %}
            <p class='date'>
              {{ comment.created_at|date:"Y.m.d" }} 
              {{ comment.created_at|time:"H:i" }}
            </p>
            <p class="text-break">{{ comment.content|linebreaksbr }}</p>
          </div>
        </div>
        {% if request.user == comment.user %}
        <form action="{% url "care:comment_delete" care.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input class='delete-btn' type="submit" value="삭제">
        </form>
        {% endif %}
      </article>
    {% empty %}
      <div class='no-comment'>
        <p><i class="bi bi-chat-square-text-fill"></i></p>
        <p class='text'>첫 댓글을 남겨주세요.</p>
      </div>
    {% endfor %}
  </section>

  {% comment %} 돌봄 후기 {% endcomment %}
  {% if care.writing_down == 1 %}
  <section id='review'>
    <h5>돌봄 후기</h5>
    <div class='inner'>
      <p class='text'>돌보미</p>
      <div class='head' style="{% if not review %}border-bottom: none;{% endif %}">
        <div class='friend-info'>
          <a href="{% url 'accounts:detail' care.user.pk %}" data-bs-toggle="tooltip-friend" data-bs-placement="bottom" data-bs-title="
            {% if care.caring.nickname %}
            {{ care.caring.nickname }}
            {% else %}
            {{ care.caring.username }}
            {% endif %}
          ">
            {% if care.caring.profile_image %}
            <img src="{{ care.caring.profile_image.url }}" alt="">
            {% else %}
            <i class="bi bi-person-circle"></i>
            {% endif %}
          </a>
        </div>
        {% if review %}
        <div class='date-place-wrap'>
          <p>돌봄 기간: {{ review.caring_date }}부터 {{ care.caring_time }}</p>
        </div>
        {% else %}
        {% if request.user == care.user %}
        <a class="review-btn" href="{% url 'care:review' care.pk %}">
          + 후기 쓰기
        </a>
        {% else %}
        <span class='no-review'>아직 후기를 작성하지 않았습니다</span>
        {% endif %}
        {% endif %}
      </div>
      {% if review %}
      <div class='body'>
        <p class="text-break">{{ review.content|linebreaksbr }}</p>
        <p class='grade'><span class='heart'>♥</span> {{ review.grade }}점</p>
      </div>
      {% endif %}
    </div>
  </section>
  {% endif %}
</main>
{% endblock content %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/care/detail.js' %}"></script>
  {% comment %} <script>
    function changeBtnName()  {
      const btnElement 
        = document.getElementById('btn');
      
      btnElement.value = "돌봄신청중!";
    }
  </script>
  <script>
    const loremIpsum = document.getElementById("lorem-ipsum")
    fetch("https://baconipsum.com/api/?type=all-meat&paras=200&format=html")
        .then(response => response.text())
        .then(result => loremIpsum.innerHTML = result)
    const modal = document.getElementById("modal")
    function modalOn() {
        modal.style.display = "flex"
    }
    function isModalOn() {
        return modal.style.display === "flex"
    }
    function modalOff() {
        modal.style.display = "none"
    }
    const btnModal = document.getElementById("btn-modal")
    btnModal.addEventListener("click", e => {
        modalOn()
    })
    const closeBtn = modal.querySelector(".close-area")
    closeBtn.addEventListener("click", e => {
        modalOff()
    })
    modal.addEventListener("click", e => {
        const evTarget = e.target
        if(evTarget.classList.contains("modal-overlay")) {
            modalOff()
        }
    })
    window.addEventListener("keyup", e => {
        if(isModalOn() && e.key === "Escape") {
            modalOff()
        }
    })
    </script> {% endcomment %}
{% endblock js %}