{% extends 'base.html' %}

{% block content %}

  <div>
    {% for caring_animal in caring_animal_list %}
      <a href="?caring_animal={{ caring_animal }}">{{ caring_animal }}</a>
    {% endfor %}
    <br>
    {% for caring_time in caring_time_list %}
      <a href="?caring_time={{ caring_time }}">{{ caring_time }}</a>
    {% endfor %}
    <br>
    {% for etc in etc_list %}
      <a href="?etc={{ etc }}">{{ etc }}</a>
    {% endfor %}
    <br>
    {% for area in area_list %}
      <a href="?area={{ area }}">{{ area }}</a>
    {% endfor %}
    <br>
    {% for gender in gender_list %}
      <a href="?gender={{ gender }}">{{ gender }}</a>
    {% endfor %}

    <div class="me-5">
      <a class="btn btn-outline-dark" href="{% url 'care:create' %}">
        글쓰기
      </a>
    </div>

    {% for c in care %}
      <a href="{% url 'care:detail' c.pk %}">
        <h3>{{ c.title }}</h3>
      </a>
      <!-- 글 이미지 노출 사이즈 조절 필요 -->
      <!-- {% if c.image %} <div class="d-flex justify-content-center"> <img src="{{ c.image.url }}" alt="{{ c.image }}" class="container px-0"> </div> {% else %} <div class="d-flex justify-content-center"> <img src="" alt=""> </div> {% endif %} -->
    {% endfor %}
  </div>
{% endblock %}
