{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link href="{% static 'css/schedule/main.css' %}" rel='stylesheet'/>
  <link rel="stylesheet" href="{% static 'css/schedule/index.css' %}">
{% endblock css %}

{% block content %}
  <div id='script-warning'>
    <code>php/get-events.php</code>
    must be running.
  </div>

  <div id='loading'>loading...</div>

  <div id='calendar'></div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/schedule/main.js' %}"></script>
  <script src="{% static 'js/schedule/util.js' %}"></script>
  <script src="{% static 'js/schedule/index.js' %}"></script>
{% endblock js %}
